/* Footer CSS */
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}

/* End Footer CSS */

.truncate-custom {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scrollable-div {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: sticky;
  overflow-y: auto;
  max-height: 100vh;
}

.scrollable-div::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.scrollable-div::-webkit-scrollbar-thumb {
  background: black;
}
